div {
    float: left;
}

.color {
    margin-left: 10px;
    height: 20px;
    width: 20px;
    border: 0px solid black;
    cursor: pointer;
}


#green {
    background-color: green;
}

#red {
    background-color: red;
}

#purple {
    background-color: purple;
}